.splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--body-text-color);
  }
  
  .splash-page h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .splash-page p {
    margin: 20px;
    font-size: 1.2em;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear; /* Adjust the duration as per your need */
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }